<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <!-- 轮播公告-->
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body  layui-card-msg">
                    <i class="layui-icon layui-icon-location" style="margin-right: 7px;"></i>
                    <div class="layui-card-title">
                            <span lay-separator="&gt;" class="layui-breadcrumb" style="visibility: visible;">
                            <a href="#!home">首页</a><span lay-separator="">&gt;</span>
                            <a><cite>关于本站</cite></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-tab layui-tab-brief" lay-filter="filterSysLogTab">
                        <ul class="layui-tab-title about-tab-title">
                            <li class="layui-this">关于本站</li>
                            <li>友情链接</li>
                            <li>小额赞赏</li>
                        </ul>
                        <div class="layui-tab-content">
                            <!--关于本站 -->
                            <div class="layui-tab-item layui-show">
                                <div class="layui-row layui-col-space15" style="min-height: 680px;">
                                    <div class="layui-col-md12">
                                        <span class="layui-badge layui-hide-md">关于本站</span>
                                        <div class="about-bg">
                                            <div class="about-box">
                                                <img src="static/img/benzhan_bg.jpg" class="bg">
                                                <div class="mask layui-hide-xs"></div>
                                            </div>
                                            <div class="author-intro layui-hide-xs">
                                                <img alt="关于本站" src="static/img/face.jpg">
                                                <h2>流年依旧</h2>
                                                <h4>时光静好，流年依旧</h4>
                                            </div>

                                        </div>
                                        <div class="layui-col-md12">
                                            <div class="layui-card">
                                                <div class="layui-card-body layui-text layadmin-text" >
                                                    <p>流年依旧，只是曾经的那些早已不再，岁月依然，只是经年的心灵早已木然。那些缠缠绵绵的故事，那些牵牵连连的剧情，早已淡然，
                                                        早已黯然。若想，事事如意，样样可心，或许永远也做不出选择，迈不出一步。不求百分之百满意，但求日后不要后悔，选择了，就要尽心尽力，承担自己的道义.</p>
                                                    <p>这里是我的故事!</p>
                                                    <p>这里是我的世界!</p>
                                                    <p>这里是一个程序员的心灵归宿！</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--友情链接 -->
                            <div class="layui-tab-item">
                                <div class="layui-row layui-col-space15" style="min-height: 680px;">
                                    <div class="layui-col-md12">
                                        <span class="layui-badge layui-hide-md">友情链接</span>
                                        <div class="about-bg">
                                            <div class="about-box">
                                                <img  src="static/img/youqing_bg.jpg" class="bg">
                                                <div class="mask layui-hide-xs"></div>
                                            </div>
                                            <div class="author-intro layui-hide-xs">
                                                <img alt="友情链接" src="static/img/handshake.png">
                                                <h2>友链互换</h2>
                                                <h4>
                                                    <i class="layui-icon layui-icon-close"></i>经常宕机&nbsp;
                                                    <i class="layui-icon layui-icon-close"></i>不合法规&nbsp;
                                                    <i class="layui-icon layui-icon-close"></i>插边球站&nbsp;
                                                    <i class="layui-icon layui-icon-close"></i>红标报毒&nbsp;
                                                    <i class="layui-icon layui-icon-ok"></i>原创优先&nbsp;
                                                    <i class="layui-icon layui-icon-ok"></i>技术优先
                                                </h4>
                                            </div>

                                        </div>
                                        <div class="layui-col-md12">
                                            <div class="layui-card">
                                                <div class="layui-card-body" >
                                                    <div style="margin-top:5px;" class="layui-row layui-col-space15">
                                                        <div class="layui-col-md3 ">
                                                            <a class="friendlink-item" title="LayUI" href="http://www.layui.com/" target="_blank">
                                                                <img alt="Layui" src="http://www.layui.com/favicon.ico">
                                                                <h2>LayUI</h2>
                                                                <p>http://www.layui.com</p>
                                                            </a>
                                                        </div>

                                                        <div class="layui-col-md3 ">
                                                            <a class="friendlink-item" title="garyme" href="https://garyme.ml/" target="_blank">
                                                                <img alt="garyme" src="http://www.leo96.com/images/Leo.jpg">
                                                                <h2>garyme</h2>
                                                                <p>https://garyme.ml</p>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--小额赞助 -->
                            <div class="layui-tab-item">
                                <div class="layui-row layui-col-space15">
                                    <span class="layui-badge layui-hide-md">小额赞助</span>
                                    <div class="layui-col-md12">
                                        <div class="about-bg">
                                            <div class="about-box">
                                                <img src="static/img/zanshang_bg.jpg" class="bg">
                                                <div class="mask layui-hide-xs"></div>
                                            </div>
                                            <div class="author-intro layui-hide-xs">
                                                <img alt="小额赞赏" src="static/img/reword.jpg">
                                                <h2>小额赞赏</h2>
                                                <h4>若本站内容对你有所帮助，请作者喝杯咖啡吧</h4>
                                            </div>

                                        </div>
                                        <div class="layui-col-md6">
                                            <div class="layui-card">
                                                <div class="layui-card-header classific-nav-header">微信
                                                </div>
                                                <div class="layui-card-body layui-text " style="text-align: center;">
                                                   <!-- <img style="max-width: 100%;" src="static/img/zanzhu.jpg"> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md6">
                                            <div class="layui-card">
                                                <div class="layui-card-header classific-nav-header">支付宝
                                                </div>
                                                <div class="layui-card-body layui-text " style="text-align: center;">
                                                   <!-- <img style="max-width: 100%;" src="static/img/zhifubao.jpg"> -->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $;
    var layer;
    layui.use(['layer', 'jquery'], function () {
        $ = layui.$;
        layer = layui.layer;

    });

</script>