<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <!-- 轮播公告-->
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body  layui-card-msg">
                    <i class="layui-icon layui-icon-location" style="margin-right: 7px;"></i>
                    <div class="layui-card-title">
                            <span lay-separator="&gt;" class="layui-breadcrumb" style="visibility: visible;">
                            <a href="#!home">首页</a><span lay-separator="">&gt;</span>
                            <a><cite>留言交流</cite></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space8">
            <div class="layui-col-md12">
                <div class="topdiv">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="topdiv-figure">
                                <img src="static/img/messagewall.png">
                            </div>
                            <p class="topdiv-nickname">留言板</p>
                            <p class="topdiv-introduce">可留言、可吐槽、可提问。欢迎灌水，杜绝广告！</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-col-md12">
                <div class="comment-editor">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <form class="layui-form blog-editor">
                                <div class="layui-form-item">
                                    <textarea id="remarkEditor" style="display: none;" ></textarea>
                                </div>
                                <div class="layui-form-item">
                                    <button lay-filter="formComment" lay-submit="" class="layui-btn layui-btn-normal layui-btn-sm">提交留言</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-col-md12">
                <div class="comment-editor">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="comment-item">
                                <div class="comment-item-left">
                                    <div title="WelphenEDM" class="useravator">
                                        <img alt="WelphenEDM" src="http://thirdqq.qlogo.cn/qqapp/101460869/A4049C397E0D0745F821C15C6D326A16/40">
                                    </div>
                                    <div class="reply">
                                        <button class="layui-btn layui-btn-xs layui-btn-primary">回复</button>
                                    </div>
                                </div>
                                <div class="comment-item-right">
                                    <div class="content">
                                        您好，这个新版可以开源吗？感觉比之前的那个舒服好多
                                    </div>
                                    <p class="createtime">&mdash; 来自<span style="padding:0 3px;padding-right:10px;color:#0094ff">心宇</span>2018-05-23</p>
                                </div>
                                <hr style="margin-right: 10px;">
                                <div class="comment-reply">
                                    <div class="comment-item-left">
                                        <div title="Leo" class="useravator">
                                            <img alt="Leo" src="http://thirdqq.qlogo.cn/qqapp/101460869/551A0EA193845763D43A01B27CA1A798/40">
                                        </div>
                                    </div>
                                    <div class="comment-item-right">
                                        <div class="content">
                                            <span style="color:#01aaed;margin-right:5px;">Leo：</span><span style="color:#ff6a00;margin-right:5px;">@心宇</span>会的哟。
                                        </div>
                                        <p class="createtime">2018-05-25<a  style="margin-left: 5px; color: rgb(0, 148, 255); vertical-align: middle; " href="javascript:;">回复</a></p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-col-md12">
                <div class="comment-editor">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="comment-item">
                                <div class="comment-item-left">
                                    <div title="WelphenEDM" class="useravator">
                                        <img alt="WelphenEDM" src="http://thirdqq.qlogo.cn/qqapp/101460869/A4049C397E0D0745F821C15C6D326A16/40">
                                    </div>
                                    <div class="reply">
                                        <button class="layui-btn layui-btn-xs layui-btn-primary">回复</button>
                                    </div>
                                </div>
                                <div class="comment-item-right">
                                    <div class="content">
                                        您好，这个新版可以开源吗？感觉比之前的那个舒服好多
                                    </div>
                                    <p class="createtime">&mdash; 来自<span style="padding:0 3px;padding-right:10px;color:#0094ff">心宇</span>2018-05-23</p>
                                </div>
                                <hr style="margin-right: 10px;">
                                <div class="comment-reply">
                                    <div class="comment-item-left">
                                        <div title="Leo" class="useravator">
                                            <img alt="Leo" src="http://thirdqq.qlogo.cn/qqapp/101460869/551A0EA193845763D43A01B27CA1A798/40">
                                        </div>
                                    </div>
                                    <div class="comment-item-right">
                                        <div class="content">
                                            <span style="color:#01aaed;margin-right:5px;">Leo：</span><span style="color:#ff6a00;margin-right:5px;">@心宇</span>会的哟。
                                        </div>
                                        <p class="createtime">2018-05-25<a  style="margin-left: 5px; color: rgb(0, 148, 255); vertical-align: middle; " href="javascript:;">回复</a></p>
                                    </div>

                                </div>
                                <div class="comment-reply">
                                    <div class="comment-item-left">
                                        <div title="Leo" class="useravator">
                                            <img alt="Leo" src="http://thirdqq.qlogo.cn/qqapp/101460869/A4049C397E0D0745F821C15C6D326A16/40">
                                        </div>
                                    </div>
                                    <div class="comment-item-right">
                                        <div class="content">
                                            <span style="color:#01aaed;margin-right:5px;">心宇：</span><span style="color:#ff6a00;margin-right:5px;">@Leo</span>谢谢。
                                        </div>
                                        <p class="createtime">2018-05-25<a  style="margin-left: 5px; color: rgb(0, 148, 255); vertical-align: middle; " href="javascript:;">回复</a></p>
                                    </div>

                                </div>
                                <textarea style="display: none;" id="commentReplyEritor" class="layui-hide"></textarea>

                                <div style="margin-left:-60px;padding:10px;" class="btnDiv">
                                    <button class="layui-btn layui-btn-xs layui-btn-normal" style="border-radius:0;">确定</button>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var $;
    var layer;
    layui.use(['layer', 'jquery','form','layedit'], function () {
        $ = layui.$;
        layer = layui.layer;
        var form = layui.form,
            layedit = layui.layedit;

        /**建立编辑器*/
        var index = layedit.build('remarkEditor',{
            height: 150, //设置编辑器高度
            tool: ['left','center','right','|','link','unlink','|','face']

        });
        var index = layedit.build('commentReplyEritor',{
            height: 80, //设置编辑器高度
            tool: ['face','|','link','unlink','@Leo']

        });


    });

</script>