
    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <!-- 轮播公告-->
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body  layui-card-msg">
                        <i class="layui-icon layui-icon-location" style="margin-right: 7px;"></i>
                        <div class="layui-card-title">
                            <span lay-separator="&gt;" class="layui-breadcrumb" style="visibility: visible;">
                            <a href="#!home">首页</a><span lay-separator="">&gt;</span>
                            <a><cite>我的相册</cite></a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-sm3">
                                <div class="layui-card">
                                    <div class="layui-card-body" style="height:286px;">
                                        <div class="photo-cover">
                                            <a title="去围观" href="#!photo/photodetail/yijing" >
                                                <img  src="static/img/yijing/1.jpg">
                                            </a>
                                        </div>
                                        <h1 class="photo-title"><a href="#!photo/photodetail/yijing">触景伤怀,心旌悸动</a></h1>
                                        <p class="photo-abstract">脑海里偶尔一瞬间想在见你一面，在寂静深夜失眠清醒的时刻尤为牵挂，一组触景伤怀，心旌悸动分享</p>
                                        <div class="photo-info">
                                            <span class="category"><i class="layui-icon layui-icon-picture"></i>意境图片</span>
                                            <span class="author"><i class="layui-icon layui-icon-log"></i><label>2018-06-01</label></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-sm3">
                                <div class="layui-card">
                                    <div class="layui-card-body" style="height:286px;">
                                        <div class="photo-cover">
                                            <a title="去围观" href="#!photo/photodetail/love">
                                                <img  src="static/img/love/1.jpg">
                                            </a>
                                        </div>
                                        <h1 class="photo-title"><a href="#!photo/photodetail/love">若相爱,何必伤害</a></h1>
                                        <p class="photo-abstract">一组若相爱，何必伤害分享给大家。那么,你对自己的爱情是不是有所期望呢?</p>
                                        <div class="photo-info">
                                            <span class="category"><i class="layui-icon layui-icon-picture"></i>爱情图片</span>
                                            <span class="author"><i class="layui-icon layui-icon-log"></i><label>2018-06-01</label></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


<script type="text/javascript">
    layui.use(['element','layer','jquery','carousel'], function(){
        var element = layui.element,
            $ = layui.jquery,
            layer = layui.layer,
            carousel = layui.carousel;

            function test() {
                alert();
            }


    });
</script>
