<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <!-- 轮播公告-->
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body  layui-card-msg">
                    <i class="layui-icon layui-icon-location" style="margin-right: 7px;"></i>
                    <div class="layui-card-title">
                            <span lay-separator="&gt;" class="layui-breadcrumb" style="visibility: visible;">
                            <a href="#!home">首页</a><span lay-separator="">&gt;</span>
                            <a><cite>一曦时光</cite></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">

            <div class="layui-tab layui-tab-brief" lay-filter="filterSysLogTab">
                <ul class="layui-tab-title about-tab-title time-tab-title">
                    <li class="layui-this">时光驿站</li>
                    <li>文章归档</li>
                    <li>个人作品</li>
                </ul>
                <div class="layui-tab-content" style="padding: 0px;padding-top: 10px;">
                    <!--时光驿站 -->
                    <div class="layui-tab-item layui-show">
                        <section class="cd-container" id="cd-timeline" style="min-height: 680px;">
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-location bounce-in">
                                    <img alt="Location" src="static/img/time/cd-icon-location.svg">
                                </div>
                                <div class="cd-timeline-content bounce-in">
                                    <h2>余生请多指教</h2>
                                    <p>往事无可回首，余生请多指教。今世愿无背离，来世仍多包涵。</p>
                                    <span class="cd-date">2018年06月05日</span>
                                </div>
                            </div>

                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-picture">
                                    <img alt="Location" src="static/img/time/cd-icon-picture.svg">
                                </div>
                                <div class="cd-timeline-content">
                                    <h2>流年依旧</h2>
                                    <p>流年依旧，只是曾经的那些早已不再，岁月依然，只是经年的心灵早已木然。那些缠缠绵绵的故事，那些牵牵连连的剧情，早已淡然，早已黯然。若想，事事如意，
                                        样样可心，或许永远也做不出选择，迈不出一步。不求百分之百满意，但求日后不要后悔，选择了，就要尽心尽力，承担自己的道义。
                                    </p>
                                    <span class="cd-date">2018年06月06日</span>
                                </div>
                            </div>
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-movie">
                                    <img alt="Location" src="static/img/time/cd-icon-movie.svg">
                                </div>
                                <div class="cd-timeline-content">
                                    <h2>灵魂摆渡</h2>
                                    <p>我们从虚空中来，每个人都抱着善与恶，有人升入天堂，有人坠入地狱。在无边的业火中，我想起你，想起从前，我们曾离得那么近。</p>
                                    <span class="cd-date">2018年06月04日</span>
                                </div>
                            </div>
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-location bounce-in">
                                    <img alt="Location" src="static/img/time/cd-icon-location.svg">
                                </div>
                                <div class="cd-timeline-content bounce-in">
                                    <h2>从你的全世界路过</h2>
                                    <p>
                                        一个人的记忆就是座城市，时间腐蚀着一切建筑，把高楼和道路全部沙化。如果你不往前走，就会被沙子掩埋。所以我们泪流满面，步步回头，可是只能往前走。</p>
                                    <span class="cd-date">2018年06月05日</span>
                                </div>
                            </div>
                        </section>


                    </div>
                    <!--文章归档 -->
                    <div class="layui-tab-item">
                        <div class="layui-row layui-col-space8" style="min-height: 680px;">

                            <div class="layui-hide-xs layui-col-md2">
                                <ul class="article-record-title">
                                    <li class="selected"><a href="javascript:;">2018年5月</a></li>
                                    <li class=""><a href="javascript:;">2018年4月</a></li>
                                </ul>
                            </div>
                            <div class="layui-col-md10">
                                <div class="article-record-content">
                                    <div class="article-record-item layui-show">
                                        <h4><a id="20185" class="datenav">2018年5月</a></h4>
                                        <ul>
                                            <li><span style="margin-right:8px;" class="layui-badge layui-bg-black">05月09日</span><a href="javascript:;">最美的爱情，我们看不到</a></li>
                                        </ul>
                                    </div>
                                    <div class="article-record-item ">
                                        <h4><a class="datenav">2018年4月</a></h4>
                                        <ul>
                                            <li><span style="margin-right:8px;" class="layui-badge layui-bg-black">04月03日</span><a href="javascript:;">最美的爱情，我们看不到</a></li>
                                            <li><span style="margin-right:8px;" class="layui-badge layui-bg-black">04月07日</span><a href="javascript:;">最美的爱情，我们看不到</a></li>
                                            <li><span style="margin-right:8px;" class="layui-badge layui-bg-black">04月09日</span><a href="javascript:;">最美的爱情，我们看不到</a></li>
                                            <li><span style="margin-right:8px;" class="layui-badge layui-bg-black">04月10日</span><a href="javascript:;">最美的爱情，我们看不到</a></li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--个人作品 -->
                    <div class="layui-tab-item">
                        <div class="layui-row layui-col-space10" style="min-height: 680px;">
                            <div class="layui-col-md12">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body" style="height:340px;">
                                                <div class="photo-cover">
                                                    <a title="去围观"  href="javascript:layer.msg('这里填演示地址')">
                                                        <img  src="static/img/background.jpg">
                                                    </a>
                                                </div>
                                                <h1 class="photo-title">
                                                    <a target="_blank" href="javascript:layer.msg('这里填演示地址')">Layui个人免费CDN静态库</a>
                                                </h1>
                                                <p class="photo-abstract">Fly 社区是 layui 的官方社区</p>
                                                <div class="resource-info">
                                                   <span class="category"><i class="layui-icon layui-icon-username"></i>admin</span>
                                                    <span class="author"><i class="layui-icon layui-icon-log"></i><label >2018-06-01</label></span>
                                                </div>
                                                <div class="resource-footer">
                                                    <a target="_blank" href="javascript:layer.msg('这里填下载地址')"
                                                       class="layui-btn layui-btn-small layui-btn-primary">演示</a>
                                                    <a target="_blank" href="javascript:layer.msg('这里填下载地址')"
                                                       class="layui-btn layui-btn-small layui-btn-primary">下载</a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body" style="height:340px;">
                                                <div class="photo-cover">
                                                    <a title="去围观"  href="javascript:layer.msg('这里填演示地址')">
                                                        <img  src="static/img/fly.jpg">
                                                    </a>
                                                </div>
                                                <h1 class="photo-title">
                                                    <a target="_blank" href="javascript:layer.msg('这里填演示地址')">Layui个人免费CDN静态库</a>
                                                </h1>
                                                <p class="photo-abstract">Fly 社区是 layui 的官方社区</p>
                                                <div class="resource-info">
                                                    <span class="category"><i class="layui-icon layui-icon-username"></i>admin</span>
                                                    <span class="author"><i class="layui-icon layui-icon-log"></i><label >2018-06-01</label></span>
                                                </div>
                                                <div class="resource-footer">
                                                    <a target="_blank" href="javascript:layer.msg('这里填下载地址')"
                                                       class="layui-btn layui-btn-small layui-btn-primary">演示</a>
                                                    <a target="_blank" href="javascript:layer.msg('这里填下载地址')"
                                                       class="layui-btn layui-btn-small layui-btn-primary">下载</a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body" style="height:340px;">
                                                <div class="photo-cover">
                                                    <a title="去围观"  href="javascript:layer.msg('这里填演示地址')">
                                                        <img  src="static/img/lockBg.jpg">
                                                    </a>
                                                </div>
                                                <h1 class="photo-title">
                                                    <a target="_blank" href="javascript:layer.msg('这里填演示地址')">Layui个人免费CDN静态库</a>
                                                </h1>
                                                <p class="photo-abstract">Fly 社区是 layui 的官方社区</p>
                                                <div class="resource-info">
                                                    <span class="category"><i class="layui-icon layui-icon-username"></i>admin</span>
                                                    <span class="author"><i class="layui-icon layui-icon-log"></i><label >2018-06-01</label></span>
                                                </div>
                                                <div class="resource-footer">
                                                    <a target="_blank" href="javascript:layer.msg('这里填下载地址')"
                                                       class="layui-btn layui-btn-small layui-btn-primary">演示</a>
                                                    <a target="_blank" href="javascript:layer.msg('这里填下载地址')"
                                                       class="layui-btn layui-btn-small layui-btn-primary">下载</a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="layui-col-md3">
                                        <div class="layui-card">
                                            <div class="layui-card-body" style="height:340px;">
                                                <div class="photo-cover">
                                                    <a title="去围观"  href="javascript:layer.msg('这里填演示地址')">
                                                        <img  src="static/img/login_bg.png">
                                                    </a>
                                                </div>
                                                <h1 class="photo-title">
                                                    <a target="_blank" href="javascript:layer.msg('这里填演示地址')">Layui个人免费CDN静态库</a>
                                                </h1>
                                                <p class="photo-abstract">Fly 社区是 layui 的官方社区</p>
                                                <div class="resource-info">
                                                    <span class="category"><i class="layui-icon layui-icon-username"></i>admin</span>
                                                    <span class="author"><i class="layui-icon layui-icon-log"></i><label >2018-06-01</label></span>
                                                </div>
                                                <div class="resource-footer">
                                                    <a target="_blank" href="javascript:layer.msg('这里填下载地址')"
                                                       class="layui-btn layui-btn-small layui-btn-primary">演示</a>
                                                    <a target="_blank" href="javascript:layer.msg('这里填下载地址')"
                                                       class="layui-btn layui-btn-small layui-btn-primary">下载</a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $;
    var layer;
    layui.use(['layer', 'jquery'], function () {
        $ = layui.$;
        layer = layui.layer;

    });

</script>